[Unit]
Description=Fore Donut Kiosk Browser
After=graphical.target fore_donut_frontend.service
Wants=graphical.target fore_donut_frontend.service

[Service]
Type=simple
User=user
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/user/.Xauthority

ExecStartPre=/bin/sleep 10

ExecStart=/usr/bin/chromium-browser \
  --kiosk \
  --fullscreen \
  --noerrdialogs \
  --disable-infobars \
  --disable-session-crashed-bubble \
  --disable-translate \
  --no-first-run \
  --autoplay-policy=no-user-gesture-required \
  http://localhost:3000

Restart=always
RestartSec=5

[Install]
WantedBy=graphical.target
