[Unit]
Description=Fore Donut Frontend (Static React)
After=network-online.target foredonut-backend.service
Wants=foredonut-backend.service
BindsTo=foredonut-backend.service
PartOf=foredonut-backend.service

[Service]
Type=simple
User=user
WorkingDirectory=/home/user/Downloads/fore_donut/frontend

ExecStartPre=/bin/bash -c '\
  until curl -sf http://127.0.0.1:8000/; do \
    echo "Waiting backend Fore Donut..."; \
    sleep 2; \
  done'

ExecStart=/usr/local/bin/serve -s build -l 3000

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
